.button {
  --size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--gap);

  height: var(--size);

  border: 1px solid var(--color-grey);

  transition: var(--transition);

  font: var(--font-smaller);
  cursor: pointer;

  border-radius: var(--size);
  &:hover,
  &:active,
  &:focus {
    border-color: var(--color-violet);
    background-color: var(--color-violet);

    color: var(--color-white);

    svg {
      fill: var(--color-white);
    }
  }

  &_round {
    padding: 0;
    width: var(--size);
    height: var(--size);
  }
}
